{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi! I am Richard glad you have stop by to know about me. I am a Engineer and Data Science enthusiast and a Chess lover
          with interest in Web Developing, Data Analytics, Statistics, Mathematics, Quants, Trading, and the list goes on.
        </p>
        <p>
          Well!!! thinking about the daunting and tedious posts I come across in Reddit and thinking
          is there a way we can make it appear more striking and more readable.
        </p>
        <p>
          This is when I created and started working on this blog website in late July 2024
          and try to get my hands on developing a website from scratch while studying in the university.
          I have contact tab which you can use in case of any queries regarding the development
          and how I can improve. All your suggestions are welcome.
        </p>
        <p>Thanks...</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
