{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<header
  class="masthead"
  style="background-image: url('../static/assets/img/admin_contact.avif')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if msg_sent: %}
          <h1>Successfully sent your message</h1>
          {% else: %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
  <div class="container">
    <div class="row">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p class="alert alert-success">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
</main>
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          User Queries!
        </p>
        <p>{{ query|safe }}</p>
        <div class="my-5">
          <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }} {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.reply.label }} {{ form.reply(class="form-control") }}
            </div>
          <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>   
          </form>
            <hr>
            <br>
            <form method="POST">
              {{ resolvedform.hidden_tag() }}
            <div class="form-group">
              {{ resolvedform.resolved.label }} {{ resolvedform.resolved(class="form-control") }}
          </div>
          <br>
          <div class="form-group">
            {{ resolvedform.submit(class="btn btn-primary") }}
        </div>
      
        </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
